<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display ToDos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    th {
      background-color: #f4f4f4;
      text-align: left;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <h1>ToDo App</h1>
    <button onclick="window.location.href='/add'">Add</button>
    <button onclick="window.location.href='/update'">Update</button>
    <button onclick="window.location.href='/delete'">Delete</button>
    <button onclick="window.location.href='/display'">Display</button>
  </div>
  <div class="container">
    <h1>ToDo List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>City</th>
          <th>College</th>
          <th>Pass Year</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <td>{{ todo.id }}</td>
          <td>{{ todo.name }}</td>
          <td>{{ todo.city }}</td>
          <td>{{ todo.college }}</td>
          <td>{{ todo.passyear }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</body>
</html>
